@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: light;
  font-family: "Noto Sans", sans-serif;
  flex-shrink: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  touch-action: pan-y;
  // font-size: 12px;
  // overflow: hidden;
  // @media (min-width: 768) {
  //   font-size: 16px;
  // }
}
